<p>Please add your details in the form below. <br> Note the items with an *asterisk are mandatory. </p>

<%= form_with model: @profile, local: true do |form|  %>

    <div>*
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>

    <div>*
        <%= form.label :target_language %>
        <%= form.text_field :target_language %>
    </div>

    <div>*
        <%= form.label :native_language %>
        <%= form.text_field :native_language %>
    </div>

    <div>*
        <%= form.label :nationality %>
        <%= form.text_field :nationality %>
    </div>

    <div>
        <%= form.label :nearest_city %>
        <%= form.text_field :nearest_city %>
    </div>

    <div>
        <%= form.label :preferred_platform %>
        <%= form.text_field :preferred_platform %>
    </div>

    Interests:
    <%= check_box_tag(:interests) %>
    <%= label_tag(:interests, "Animals and pets") %>

    <%= check_box_tag(:interests) %>
    <%= label_tag(:interests, "Exercise and fitness") %>    

    <%= check_box_tag(:interests) %>
    <%= label_tag(:interests, "Food and cooking") %>

    <%= check_box_tag(:interests) %>
    <%= label_tag(:interests, "Movies") %>    

    <%= check_box_tag(:interests) %>
    <%= label_tag(:interests, "Photography") %>

    <%= check_box_tag(:interests) %>
    <%= label_tag(:interests, "Reading and literature") %>    

    <%= check_box_tag(:interests) %>
    <%= label_tag(:interests, "Sports") %>

    <%= check_box_tag(:interests) %>
    <%= label_tag(:interests, "Travel") %>    

    <%= check_box_tag(:interests) %>
    <%= label_tag(:interests, "Theatre, concerts, and music") %>    

    <div>
        <%= form.label :profile_description %>
        <%= form.text_area :profile_description %>
    </div>

    <div>
        <%= form.label :profile_picture %>
        <%= form.file_field :picture, accept: "image/png,image/jpeg,image/jpg,image/gif" %>
    </div>    

    </br>
    <div>
        <%= form.submit value: "Click to save profile" %>
    </div>

<% if profile.errors.any? %>
    <p style="color:red">It looks like there was some information missing from the form you submitted:</p>
    <ul>
        <% profile.errors.full_messages.each do |error| %>
            <li style="color:red" > <%= error %> </li>
        <%end %>
    </ul>
<% end %>

<% end %>