<% @title="Profile search" %>
<%= image_tag "WeTalky_Banner.png", style: "width: 350px", alt: "WeTalky banner" %>
<h1>Index html page - user profiles!</h1>

<ul>
    <li><%= link_to "View all profiles", profiles_path %></li>
        <%if current_user.profile %>
            <li><%= link_to "Edit my profile", edit_profile_path(@myprofile.id)%></li>
        <% else %>
            <li><%= link_to "Create new profile", new_profile_path %></li>
        <% end %>
    <li>View exchanges</li>
    <li>Create exchange</li>
    <li>Logout</li>
    <li>Donate</li>
</ul>


<% for profile in @profiles %>
    <li><%= link_to "#{profile.name}", profile_path(profile.id) %> is 
    <%= profile.nationality %> and is learning
    <%= profile.target_language %></li>
    <br/>    
<% end %>